@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
<<<<<<< HEAD
    <h1>Welcome to azure page ravi saroj thanks</h1>
    <p>Application is running successfully.</p>
=======
    <h1>Welcome to azure page ravi saroj</h1>
    <p>Azure Application is running successfully.</p>
>>>>>>> f1e6b5c9a0ff7a937d3e30d3b1ef848b1727895c
</body>
</html>